function Main.main 1
push constant 256
push constant 128
push constant 32
push constant 64
call SnakeGame.new 4
pop local 0
push local 0
call SnakeGame.start 1
pop temp 0
push local 0
call SnakeGame.dispose 1
pop temp 0
push constant 0
return
