function Main.main 2
call Keyboard.keyPressed 0
pop local 0
label WHILE_EXP0
push local 0
push constant 140
eq
not
not
if-goto WHILE_END0
push constant 256
push constant 128
call SnakeGame.new 2
pop local 1
push local 1
call SnakeGame.start 1
pop temp 0
push local 1
call SnakeGame.dispose 1
pop temp 0
push constant 0
return
goto WHILE_EXP0
label WHILE_END0
